* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(245, 248, 255, 1);
}
/* fonts */
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* share styles */
.shared-button{
  font-weight: bold;
  color: white;
  background-color: #4E47FF;
  padding: 12px 36px;
  border-radius: 10px;
  border-style: none;
}

/* header styles */
.bg-primary{
  background-image: url(../Assets/Hero-bg.png);
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
}
.logo{
  font-weight: 900;
  font-size: 34px;
  color: #4E47FF;
}


.cool-section{
  text-align: center;
  margin: 0px auto;
}
.cool-text{
  font-size: 65px;
  font-weight: Bold;
  width: 905px;
  margin-bottom: 37px;
  margin: 150px auto 37px auto;
  color: #252432
}
.focus-button{
  margin-bottom: 152px ;
}

/* action-section */
.action-section{
  width: 1140px;
  display: flex;
  margin: 116px auto 116px auto;
  justify-content: space-between;
  align-items: center;
}
.action-title{
  font-size: 42px;
  font-weight: Bold;
  color: #252432;
}
.action-details{
  font-size: 24px;
  color: 252432;
  opacity: 50%;
  width: 516px;
  padding-bottom: 23px;
  padding-top: 23px;
}
.action-button{
  font-weight: bold;
  color: white;
  background-color: #4E47FF;
  padding: 12px 36px;
  border-radius: 10px;
  border-style: none;
  font-size: 16px;
}
.action-img img{
  border-radius: 48px;
}

/* users-section */
.users-section{
  background-color: rgba(78, 71, 255, 0.1);
  margin: 0 auto 126px auto;
  width: 1140px;
  height: 306px;
  padding: 50px 142px;
  border-radius: 24px;
  /* border: 1px solid black; */
}
.users-title{
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  text-align: center;
  margin-bottom: 40px;
}
.nmbr{
  font-size: 80px;
  font-weight: Bold;
  color: #4E47FF;
}
.tuxt{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.users-flex-n {
  display: flex;
  justify-content: space-between;
}

/* review-section */
.review-section{
  width: 1140px;
  /* height: 342px; */
  margin: 0 auto 138px;
}
.review-title{
  font-size: 42px;
  font-weight: Bold;
  color: #252432;
  text-align: center;
  margin-bottom: 50px;
}

.review-boxes{
  display: flex;
  gap: 20px;
}
.review-box{
  border-radius: 14px;
  border: 1px solid rgba(242, 237, 237, 1);
  padding: 24px;
  background-color: white;
}
.box-title{
  font-size: 24px;
  font-weight: 600px;
  color: rgba(30, 30, 30, 1);
  padding-top: 24px;
}
.box-detail{
  color: rgba(30, 30, 30, 1);
  padding-bottom: 24px;
}



.review-info{
  display: flex;
  gap: 12px;
  
}
.reviewer-photo img{
  border-radius: 9999px;
}
.name-date{
  /* display: flex; */
}
.reviewer-name{
  color: rgba(117, 117, 117, 1);
  font-weight: 600;
}
.reviewer-date{
  color: rgba(179, 179, 179, 1);
  font-size: 12px;
}

/* focus-section */
.focus-section{
  width: 1140px;
  height: 697px;
  background-color: white;
  margin: 0 auto 138px;
  text-align: center;
  border-radius: 14px;
  /* padding: 71px; */
}
.focus-title{
  font-size: 50px;
  font-weight: bold;
  color: black;
  padding-top: 71px;
  padding-bottom: 20px;
}
.focus-details{
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
}
.focus-img img{
  border-radius: 48px;
  margin: 0 auto;
  
}
/* form-section */
.form-section{
  display: flex;
  width: 1140px;
  height: 632px;
  margin: 0 auto;
  justify-content: space-between;
}
.form-title{
  font-size: 19px;
  font-weight: Bold;
  color: black;

}
.form-parent{
  display: block;
}
main input [type="email"]{
  width: 100%;
  padding: 20px;
}